*{
    margin: 0px;
    padding: 0px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 23px;
    margin-left: 23px;
    position: relative;
    float: left;
}
ul{
    list-style: none;
    display: flex;
   padding-left: 30px;
   padding-top: 30px;
   list-style-type: none;
 
}

a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
}
.location{
    height: 20px;
    position: relative;
    
  
}
.right{
    float: right;
    margin-top: -20px;
    margin-right: 160px;
   }
   .right a{
    font-size: 14px;
    font-weight: 700;
    margin-right: 16px;
   }
   body{
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
   }
   .signin{
    border-radius: 18px;
    width: 80px;
    height: 35px;
    font-weight: 700;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid black;
    background-color: transparent;
    margin-right: -54px;
   }
   .joinnow{
    border-radius: 18px;
    width: 80px;
    height: 35px;
    font-weight: 700;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid black;
    background-color: black;
    margin-left: 90px;
    color: #fff;
    margin-right: -80px;
   }
   .body1{
    margin-top: 50px;
    width: 100%;
    height: 130px;
    background-color: #d4e9e2;
    text-align: center;
    padding-top: 50px;
   }
   .body2{
    background-color: #3d7170;
    width: 100%;
    height: 547px;
    color: #fff;
    
   }
   .txt1{
    font-size: 28px;
    color: #fff;
    width: 50%;
    text-align: center;
    float: left;
    padding-top:100px;
   }
   .hot{
    float: left;
    width: 50%;
    height: auto;
   }
   h3{
    font-weight: 400;
    font-size: 24px;
   }
   h1{
    font-weight: 600;
   }
   .tryitnow{
    border-radius: 18px;
    width: 100px;
    height: 35px;
    font-weight: 700;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    margin-left: 1px;
   }
   .body3{
    background-color: #d4e9e2;
    width: 100%;
    height: 547px;
    color: #fff
   }
   .cream{
    width: 50%;
    float: left;
   }
   .txt2{
    font-size: 28px;
    color: #1e3932;
    width: 50%;
    text-align: center;
    float: left;
    padding-top:100px;
   }
  
   
   .ordernow{
    border-radius: 18px;
    width: 100px;
    height: 35px;
    font-weight: 700;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid  #1e3932;
    background-color: transparent;
    color:  #1e3932;
    margin-left: 1px;
   }
   .txt3 {
    font-size: 28px;
    color: #fff;
    width: 50%;
    text-align: center;
    float: left;
    padding-top: 100px;
    background-color: #3d7170;
    height: 268px;
   }
   .pack{
    float: left;
    width: 50%;
    height: auto;
    
   }
   .ordernow1{
    border-radius: 18px;
    width: 100px;
    height: 35px;
    font-weight: 700;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid #fff;
    background-color: transparent;
    color:#fff;
    margin-left: 1px;
   }
   .body5{
    background-color: #96b2e1;
    width: 100%;
    height: auto;
   }
   .card{
    width: 50%;
    float: left;
    padding-top: 50px;
   }
   .txt4 {
    font-size: 28px;
    color: #1e3932;
    width: 50%;
    height: 268px;
    text-align: center;
    float: left;
    padding-top: 100px;
    background-color: #96b2e1;
    margin-top: 50px;
    text-align: center;
   }
   h2{
    font-size: 22px;
   }
   h4{
    font-size: 16px;
    font-weight: 400;
   }
   .gift{
    border-radius: 18px;
    width: 100px;
    height: 35px;
    font-weight: 700;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid #1e3932;
    background-color: transparent;
    color: #1e3932;
    margin-left: 1px;
   }
   .topfooter{
    width: 100%;
    height: 114px;
    background-color: #fff;
    float: right;
    border-bottom: solid rgba(0,0,0,.58) 1px;
   }
   p{
    text-align: center;
    padding-top: 60px;
    font-size: 14px;
   }
 
 .container{
   height: 356px;
   width: 100%;
   background-color: #fff;
   display: flex;
   padding-top: 20px;
   padding-left: 30px;
   padding-right: 30px;
   border-bottom: solid rgba(0,0,0,.58) 1px;
   
 }
 .first{
   width: 20%;
   height: 300px;
   display: flex;
   flex-direction: column;
   float: left;
   justify-content: space-around;
 }
 .second{
   width: 20%;
   height: 300px;
   display: flex;
   flex-direction: column;
   float: left;
   justify-content: space-around;
 }
 .third{
   width: 20%;
   height: 300px;
   display: flex;
   flex-direction: column;
   float: left;
   justify-content: space-around;
 }
 .fourth{
   width: 20%;
   height: 300px;
   display: flex;
   flex-direction: column;
   float: left;
   justify-content: space-around;
 }
 .fifth{
   width: 20%;
   height: 300px;
   display: flex;
   flex-direction: column;
   float: left;
   justify-content: space-around;
 }
.b{
   border: none;
   background-color: transparent;
   text-align: left;
   color: rgba(0,0,0,.58);
   font-size: 15px;
}
.h3{
   font-size: 20px;
}
.footer{
  height: 50px;
  width: 50px;
  background-color: #fff;
  display: flex;
  margin-left: 50px;
 
}
.footer img{
  padding-left: 30px;
  padding-top: 20px;
}

 
.foot{
  width: 100%;
  height: 30px;
  padding-top: 30px;
  padding-left: 70px;
  font-size: 16px;
  font-weight: 300;
}
.last{
  color: #1e3932;
  text-align: left;
  padding-top: 10px;
}
